﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Ventilation Control";
}

<div class="text-center">
	<h1 class="display-4">Configuratie</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<p id="connection">Niet Beschikbaar</p>
		</div>
	</div>
</div>
<div class="container">
	<form onsubmit="return sendEditedConfig();">
		<textarea id="configXml" name="Current Configuration" rows="10" cols="50"></textarea>
		<div class="row">
			<button type="submit">Opslaan</button>
		</div>
	</form>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/ConfigCommunication.js"></script>
