﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Ventilation Control";
}

<div class="text-center">
    <h1 class="display-4">Hallo</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p id="connection">Niet Beschikbaar</p>
            <p id="currentState">Huidige status aan het laden...</p>
            <p id="nextScheduledState">Volgende status aan het laden...</p>
        </div>
    </div>
</div>
<div class="container">
    <h5>Tijdelijk hoog:</h5> @*Boost Max*@
    <div class="row">
        <div class="col-12">
            <input type="button" id="buttonHighBoost10" value="10 min" />
            <input type="button" id="buttonHighBoost30" value="30 min" />
            <input type="button" id="buttonHighBoost60" value="60 min" />
        </div>
    </div>
    <h5>Tijdelijk matig:</h5> @*Boost Max*@
    <div class="row">
        <div class="col-12">
            <input type="button" id="buttonMedBoost10" value="10 min" />
            <input type="button" id="buttonMedBoost30" value="30 min" />
            <input type="button" id="buttonMedBoost60" value="60 min" />
        </div>
    </div>
    <p></p>
    <h5>Zet tot volgende geplande wijziging:</h5> @*Set until next scheduled change*@
    <div class="row">
        <div class="col-12">
            <input type="button" id="buttonOff" value="Uit" /> @*Off*@
            <input type="button" id="buttonLow" value="Laag" /> @*Low*@
            <input type="button" id="buttonMed" value="Matig" /> @*Med*@
            <input type="button" id="buttonHigh" value="Hoog" /> @*High*@
        </div>
    </div>
    @*<p></p>
        <h5>Schedule</h5>
        <div class="row">
            <div class="col-12">
                <input type="button" id="buttonScheduleResume" value="Resume" />
                <input type="button" id="buttonScheduleDisable" value="Disable" />
            </div>
        </div>*@
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/IndexCommunication.js"></script>
