﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Ventilation Control";
}

<div class="text-center">
    <h1 class="display-4">Schema</h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-12">
			<p id="connection">Niet Beschikbaar</p>
			<p id="activeSchedule">Niet Beschikbaar</p>
		</div>
	</div>
</div>
<div class="container">
	<form onsubmit="return sendSelectedSchedule();" >
		<div id="activeValueSelectionDiv">
		</div>
		<div class="row">
			<button type="submit">Activeer</button>
		</div>
	</form>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SchedulesCommunication.js"></script>